<div class="card">

    <div  class="product-card-mask-success-message text-center" [@addAnimation]="AnimationState">
              <h3>  Adicionado com sucesso <i class="fa fa-check"></i>  </h3> 
    </div>

    <a [routerLink]="['produto/nebacetin/' + Produto.Codigo]" *ngIf="Carrosel">
        <div class="card-image-area">
        
            <img class="card-img-top" [src]="Produto.ImagemPrincipal.UrlRelativa | imageUrl" alt="Card image cap" />

            <div class="view-details-mask">

                <p>
                    Ver Detalhes
                </p>

            </div>

        </div>
    </a>


  
        <div class="card-image-area" *ngIf="!Carrosel">
        
            <img class="card-img-top" [src]="Produto.ImagemPrincipal.UrlRelativa | imageUrl" alt="Card image cap" />

        </div>


    <div class="card-body">

      <h5 class="card-title"> {{ Produto.Nome}}  </h5>

       <p> à partir de: </p> <h3 class="price"> {{ Produto.Preco_Por | currency:'BRL' }}    </h3>

       <div class="card-aria-controls">

            <a href="javascript:void()" VerFarmacia [Produto]="Produto" [Quantidade]="1" tooltip="Ver Farmácias" [routerLink]="['/consulta-lojas']"> <i class="fa fa-store"></i>  </a>
            <a href="javascript:void()" class="success" (OnAdd)="ShowMessage()" AdicionarCesta [Produto]="Produto" [Quantidade]="1"  tooltip="Adicionar a cesta"> <i class="fa fa-shopping-basket"></i>  </a>

        </div>


    </div>

  </div>