<container>
    

        <section class="container" id="confirmacaoArea">

            <div class="row w-100">
                    <div class="col-xl-12 content-box text-center">

                            <h1> Parabéns <i class="fa fa-check iconOk"></i> </h1>

                            <p>  Seu pedido foi concluído com sucesso. </p>
                            
                            <p>  Número do pedido: {{ Pedido.Numero }}    </p>

                            <h3>  Total do pedido: {{ Pedido.Total | currency: 'BRL' }}  </h3>

                    </div>
            </div>

        </section>


</container>