<div id="slider" class="carousel slide w-100" data-ride="carousel">
    <ol  class="carousel-indicators">
      <li *ngFor="let banner of Banners; let i = index" data-target="#slider" [attr.data-slide-to]="i" [class]="((i == 1) ? 'active' : '')"></li>
    </ol>
    <div class="carousel-inner">

      <div *ngFor="let banner of Banners; let i = index" [class]="'carousel-item ' + ((i == 1) ? 'active' : '')" [ngStyle]="{'background-image': 'url(' + ( banner.Fundo | imageUrl) +')' } ">
          <img class="d-block" [src]="banner.Arquivo | imageUrl" alt="Primeiro slide"> 
      </div>

    </div>


    <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Depois</span>
    </a>
  </div>