<container [IsHome]="true">

<section class="container">


    <div class="row">
<!-- 
        <aside class="side-box-filter-col col-xl-3">

                <div class="side-box-menu">

                        <h5 class="side-box-title"> Filtrar por categoria <i class="fa fa-filter"></i>  </h5>

                        <ul class="no-bullet">

                            <li>
                                <a> <span> Alergia </span>  <i class="fa fa-chevron-right"></i> </a>  
                            </li>
            
                            <li>
                                <a> <span> Anestesico </span>  <i class="fa fa-chevron-right"></i> </a>  
                            </li>
                            
                            <li>
                                <a> <span> Alergia </span>  <i class="fa fa-chevron-right"></i> </a>  
                            </li>

                            <li>
                                <a> <span> Alergia </span>  <i class="fa fa-chevron-right"></i> </a>  
                            </li>
                        </ul>

                </div>

        </aside> -->

        <section class="col-xl-12" [Produtos]="Produtos" product-card-carousel>
        </section>


    </div>



</section>




</container>