<div class="card">

    <a [routerLink]="['produto/nebacetin/67184']">
        <div class="card-image-area">
        
            <img class="card-img-top" [src]="'/BACKOFFICE/Uploads/Produto/Super/7896641804595.jpg' | imageUrl" alt="Card image cap" />

            <div class="view-details-mask">

                <p>
                    Ver Detalhes
                </p>

            </div>

        </div>
    </a>

    <div class="card-body">

      <h5 class="card-title"> Nebacetin Pomada 50g </h5>

       <p> à partir de: </p> <h3 class="price"> R$ 10,00  </h3>

       <div class="card-aria-controls">

            <a href="javascript:void()" tooltip="Ver Farmácias" [routerLink]="['/consulta-lojas']"> <i class="fa fa-store"></i>  </a>
            <a href="#" class="success"  tooltip="Adicionar ao carrinho"> <i class="fa fa-shopping-basket"></i>  </a>

        </div>


    </div>

  </div>