<article class="product-container-gallery w-100 d-flex flex-column" >

    <div class="product-view-box d-flex content-box">
        <img class="img-fluid m-0 m-auto" [src]="currentImageInBox.UrlRelativa | imageUrl" alt="Card image cap" />  
    </div>


    <div class="product-container-gallery-nav">

        <a class="product-galery-nav-left" (click)="productNavLeft()"> <i class="fa fa-chevron-left"></i>  </a>

        <div class="product-container-gallery-nav-inner ">

            <div #galeryNavRoller class="product-container-gallery-nav-inner-roller" [ngStyle]="{ 'transform': 'translateX('+ translateXAmount + 'px)'}">
            

            <img *ngFor="let imagem of Imagens; let i = index" (click)="setCurrentImage(i);"  class="img-fluid mr-1" [src]="imagem.UrlRelativa | imageUrl"  />

        </div>

        </div>


        <a class="product-galery-nav-right" (click)="productNavRight()" > <i class="fa fa-chevron-right"></i>  </a>

    </div>
</article>