<checkout-container [RodapeModel]="RodapeModel">

<modal-confirm Icon="fa fa-exclamation-triangle" Title="Aviso!" ModalClass="" #modalConfirmaHome (OnConfirm)="LimparEVoltarParaHome()">
      Você perderá todos os ítens adicionados se continuar. Tem certeza que deseja executar?
</modal-confirm>

    <section class="container">
            <div class="row">
                    <div class="col-xl-12 d-flex justify-content-between align-items-center mb-3">

                        <img class="img-fluid" [src]="'backoffice/uploads/loja/logo/unifabra_logo.png' | imageUrl">

                        <div class="p-3 d-flex flex-column">

                        <a href="javascript:void()" class="pointer btn btn-success mb-2" (click)="modalConfirmaHome.open();">
                          <strong> Voltar para home </strong>  
                            <i class="fa fa-home"></i>
                        </a> 
          
                        <a href="javascript:void()" class="pointer text-primary" (click)="VoltarParaHome()">
                            <strong> Escolher mais itens dessa loja </strong>
                                <i class="fa fa-bags-shopping"></i>
                        </a>

                        </div>
                    </div>
            </div>
            <hr />
    </section>

    <section class="container">
    <div class="grid-table content-box p-0">

        <div class="grid-table-head">
            <div class="grid-table-row">
                <div class="grid-table-cell col-xl-6">
                   Resumo do pedido - Produtos no carrinho :
                </div>
                <div class="grid-table-cell  col-xl-2">
                    <div class="d-flex w-100 justify-content-between"> 
                        Quantidade 
                    </div>
                </div>
                <div class="grid-table-cell  col-xl-2">
                    Preço
                </div>
                <div class="grid-table-cell  col-xl-2">
                    Total
                </div>
            </div>
        </div>


        <div class="grid-table-body">
            <div class="grid-table-row" *ngFor="let produto of Pedido?.Produtos">
                <div class="grid-table-cell col-xl-6">
                    <div class="product-description-area">
                <div class="product-description-item">

                    <div class="product-description-text">

                            <p> {{ produto.Nome }} </p>
                      
                    </div>
                </div>
                </div>
            </div>
            <div class="grid-table-cell col-xl-2">
                <p> {{ produto.Quantidade }} </p>
            </div>
            <div class="grid-table-cell col-xl-2">
                <p> {{ produto.Preco_Por | currency: "BRL" }} </p>
            </div>
            <div class="grid-table-cell col-xl-2">
                <p> {{ (produto.Preco_Por * produto.Quantidade)  | currency: "BRL" }} </p>
            </div>
            </div>
        </div>

    <div class="grid-table-body bg-gray">  
        
        <div class="grid-table-cell offset-xl-10">
            <p>    <strong>  SubTotal:  </strong> {{  (Pedido?.SubTotal ) | currency: 'BRL' }}     </p>
            <p>    <strong>  Frete:  </strong> {{  5| currency: 'BRL' }}     </p>

        <p>  <strong> Total:  </strong> {{  (Pedido?.Total + 5) | currency: 'BRL' }}    </p>
        

        </div>

    </div>

    </div>

</section>

    <section class="container">
        <div class="row">
            <div class="col-xl-12 steps-area">

                <div class="step-box disabled">

                    <div class="step-header">

                         <h5> <i class="fa fa-user"></i> Identifique-se <i class="fa fa-check check-icon"></i> </h5>  
                
                    </div>

                    <div class="step-content">
                        <p class="title-mark"> Dados Pessoais </p>

                        <p class="label-mark">Nome completo:</p>
                        <p> Vannon  </p> 
                        <p class="label-mark">Email:</p>
                        <p> vannon@vannon.com.br  </p> 

                        <p class="label-mark">CPF:</p>
                        <p> 440.064.670-01 </p> 




                    </div>
                </div>

                <div class="step-box">
                    
                    <div class="step-header">

                        <h5> <i class="fa fa-truck"></i>  Entrega  </h5>  
               
                   </div>

                           
                   <div class="step-content">

                    <div class="bordered-box">

                        <div class="icon-described-content">

                            <i class="fa fa-map-marker-alt icon">

                            </i>
                                <section>
                                    <p class="title-mark"> Endereço para entrega </p>
                                    <p> Destinatário: Vannon Ecommerce </p>
                                    <p> Avenida Jabaquara, 2049, 6 andar Vannon, Mirandópolis, São Paulo-SP, CEP 04045003 </p>
                                </section>

                        </div>
                      
                    </div>

                    <div class="bordered-box mt-1">

                        <div class="icon-described-content">

                            <i class="fa fa-truck icon">

                            </i>
                                <section>
                                    <p class="title-mark"> Escolha a modalidade de entrega </p>
                                    <label class="w-100"> <input type="radio" name="modalidade" checked class="mr-2" disabled/> <i class="fa fa-motorcycle"> </i> Motoboy {{ 5 | currency: 'BRL' }} </label>
                                    <label class="w-100"> <input type="radio" name="modalidade" class="mr-2" disabled/> <i class="fa fa-store"> </i> Retirada em loja  {{ 0 | currency: 'BRL' }}  </label>
                                </section>

                        </div>
                      
                    </div>
                </div>
            </div>

                <div class="step-box">

                    <div class="step-header">

                         <h5>  <i class="fa fa-dollar-sign"></i> Pagamento  </h5>  
                
                    </div>

                    <div class="step-content">

                        <p class="title-mark"> Escolha uma forma de pagamento </p>

                          <ul class="list-group">
                            <li  (click)="isCartao = false; isBoleto = true;"  class="list-group-item effect-on-hover {{  isBoleto ? 'active' : ''  }}">  <i class="fa fa-barcode"></i> Boleto</li>
                            <li (click)="isCartao = true; isBoleto = false;" class="list-group-item effect-on-hover {{  isCartao ? 'active' : ''  }}"> <i class="fa fa-credit-card"></i> Cartão de Crédito</li>
                          </ul>

                          <section class="p-3">

                            <form *ngIf="isCartao" (ngSubmit)="finalizarCartao($event)">

                                        <div class="input-field">   
                                            <label>Número do cartão de crédito *</label>
                                            <input id="cardNumber" name="cartao"  type="tel" value=""  class="form-control" maxlength="19">
                                        </div> 

                                        <div class="input-field">  
                                            <label>Nome impresso no cartão de crédito *</label>
                                            <input id="cardholderName"  type="text" class="form-control">
                                        </div> 

                                        <div class="input-field">  
                                            <label>CPF do titular *</label>
                                            <input id="docNumber" value="" type="tel" class="form-control"  maxlength="14">
                                        </div> 

                                        <select id="cardExpirationMonth" class="validade mainBox-conteudo-form-validade-mes validate mr-1">

                                            <option value="" class="hide">Mês</option>
                                            <option value="01">Janeiro</option>
                                            <option value="02">Fevereiro</option>
                                            <option value="03">Março</option>
                                            <option value="04">Abril</option>
                                            <option value="05">Maio</option>
                                            <option value="06">Junho</option>
                                            <option value="07">Julho</option>
                                            <option value="08">Agosto</option>
                                            <option value="09">Setembro</option>
                                            <option value="10">Outubro</option>
                                            <option value="11">Novembro</option>
                                            <option value="12">Dezembro</option>

                                        </select>

                                        <select id="cardExpirationYear" data-checkout="cardExpirationYear" class="validade validate">

                                            <option value="" class="hide">Ano</option>
                                            <option value="2020" >2020</option>
                                            <option value="2021" >2021</option>
                                            <option value="2022" >2022</option>
                                            <option value="2023" >2023</option>
                                            <option value="2024" >2024</option>
                                            <option value="2025" >2025</option>
                                            <option value="2026" >2026</option>
                                            <option value="2027" >2027</option>
                                            <option value="2028" >2028</option>
                                            <option value="2029" >2029</option>
                                            <option value="2030" >2030</option>

                                        </select>
                                      
                                     <p> <small class="w-100">A data que o cartão expira, impressa na frente do cartão.</small> </p> 

                                     <div class="input-field">  
                                        <label>Código de segurança *</label>
                                        <input id="securityCode" data-checkout="securityCode" type="tel" maxlength="4" class="form-control w-50" data-label="">
                                     </div>

                                     <p> <small class="mainBox-conteudo-form-cvvObs">O código "CVV" ou "CVC" impresso atrás do cartão.</small> </p> 
                                
                                    <div class="input-field">
                                      <label>Parcelas *</label>
                                      <select id="installments" name="installments" class="validate">
                                      <option *ngFor="let parcela of Parcelas" value="1"> {{ parcela }}</option>
                                    
                                    </select>
                            
                                    </div>
                                    
                                    <hr/>

                                      <button type="submit" name="button" class="btn btn-success w-100" >Finalizar pedido</button>
                      
                            </form>

                            <form *ngIf="isBoleto" (ngSubmit)="finalizarBoleto($event)">
                                <p> Boleto com vencimento para 2 dias * </p>
                                <button type="submit" name="button" class="btn btn-success w-100" id="finalizarPedido">Finalizar pedido</button>
                            </form>

                          </section>

                    </div>

                </div>

            
   

            </div>

            </div>

    </section>

</checkout-container>