<form [formGroup]="formGroup" (ngSubmit)="Submit($event)">

<input-label-area [required]="true"  label="Nome Completo: " [control]="formGroup.controls['NmCliente']">
    <input  class="form-control" formControlName="NmCliente" />
</input-label-area>

<input-label-area   label="Nome Social: " [control]="formGroup.controls['NomeSocial']">
        <input  class="form-control" formControlName="NomeSocial" />
</input-label-area>

<div class="input-group">

<input-label-area [required]="true" class="col-xl-6 col-12"  label="CPF:" [control]="formGroup.controls['DsCpfCnpj']">
        <input  class="form-control" mask="000.000.000-00" formControlName="DsCpfCnpj" />
</input-label-area>

<input-label-area [required]="true"   label="Nascimento: " class="col-xl-6 col-12" [control]="formGroup.controls['DtNascimento']">

        <input  class="form-control" [dropSpecialCharacters]="false"mask="00/00/0000" formControlName="DtNascimento" type="text" />

</input-label-area>

</div>


<div class="input-group">

<input-label-area [required]="true"  class="col-12"  label="E-mail:" [control]="formGroup.controls['DsEmail']">
        <input  class="form-control" formControlName="DsEmail" />
</input-label-area>

</div>

<div class="input-group">

<input-label-area   label="Fixo: " class="col-xl-6  col-12" [control]="formGroup.controls['TelefoneCompleto']">
        <input  class="form-control" mask="(00) 0000-0000" formControlName="TelefoneCompleto" />
</input-label-area>

<input-label-area [required]="true" label="Celular: " class="col-xl-6  col-12" [control]="formGroup.controls['CelularCompleto']">
        <input  class="form-control" mask="(00) 00000-0000"  formControlName="CelularCompleto" />
</input-label-area>

</div>

<div class="input-group">

<input-label-area  [required]="true"  label="Senha: " class="col-xl-6  col-12" [control]="formGroup.controls['DsSenha']">

        <input  class="form-control" #senha formControlName="DsSenha" type="password" />

</input-label-area>


<input-label-area  [required]="true"   label="Confirmação senha: "  class="col-xl-6 col-12">

    <input  class="form-control"  #senhaConfirmacao type="password"/>

</input-label-area>

<div class="w-100">
        <small *ngIf="!senhasConferem" class="form-error">

                Senhas não conferem
               
        </small>
</div>

<small>

     A senha deve ter no  mínimo de 6 caractéres, recomendamos utilizar letras e números para uma senha mais segura

</small>


</div>


<label> </label>

<input-label-area  [required]="true"  label="Sexo: "  class="col-xl-6 col-12">

<input type="radio" name="FlSexo"  formControlName="FlSexo"  value="M" selected/> Masculino
<input type="radio" name="FlSexo" formControlName="FlSexo" value="F" /> Feminino

</input-label-area>


<div *ngIf="errorMessage.length" class="alert alert-danger">
   {{ errorMessage }}
</div>

<div class="row">
    <div class="col-xl-6 col-12">
    <input type="checkbox" name="FlAceitaMailing"  formControlName="FlAceitaMailing"  value="true" /> 
    <label> Desejo receber avisos de ofertas por e-mail </label>
</div>

<div class="col-xl-6 col-12">
    <button [disabled]="formGroup.invalid || !senhasConferem" type="submit" class="btn btn-primary btn-lg w-100">  Cadastrar </button>
</div>

</div>

</form>