
.input-group input-label-area {
  padding:0;
 
}

.input-label-area {
  margin-bottom:15px;
}

.input-group input-label-area:not(:last-child), .input-group input-label-area:not(.col-12) {
      padding-right:15px !important;
}

label.required::after {
  content: "*";
  color:red;
}

.form-error {
  color:$danger-color;
}

.form-control, input[type=text]:focus {
    border-radius: 5px;
    border:none;
    //border-bottom:2px solid #666;
    //border-bottom-left-radius: 0px;
    //border-bottom-right-radius: 0px;
    border:1px solid #ccc;

    transition: 0.3s all;

    &:focus {
      border:1px solid $primary-color;
    }

    &.ng-invalid.ng-touched {
      border:1px solid $danger-color;
    }
}

select {
  padding:8px;
  border-radius: 4px;
}

.form-control:focus,
input[type=text]:focus{
  box-shadow: none;
}

.input-field {
    label {
      font-size:0.8rem;
      width: 100%;
    }

    margin-bottom:5px;
}


