%grow-icon-animation {
    transition: all 0.3s ease-in;
    transform: scale(1);
    &:hover {
        transform: scale(1.2);
    }
}

%flex-center {
    display: flex;
    align-items: center;
    align-content: center;
}

%flex-all-center {
    @extend %flex-center;
    justify-content: center;
}

%flex-column-all-center {
    @extend %flex-all-center;
    flex-direction: column;
}

%flex-column-center {
    @extend %flex-center;
    flex-direction: column;
}