<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!--  Este web.config destina-se apenas para testes com renderização client side, não é recomendado seu uso para modo de produção por conta do SEO -->
<system.webServer>
  <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          <add input="{REQUEST_URI}" negate="true" pattern="^/backoffice/$" ignoreCase="true" />
        </conditions>
        <action type="Rewrite" url="./" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>

</configuration>