body {
 background: $default-bg-color !important;
 position: relative;
 margin: 0;
 min-height: 100vh;
 //padding-bottom: 25rem;
}

html {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

ul li {
    list-style: none;
}

.no-bullet {
    padding-inline-start:0px;
}

.text-primary-inverse {
  color:white;
}

.bg-darken {
 background-color: $primary-color-darken !important;
}

@for $i from 1 through 100 {
    .w-#{$i} {
      width:#{$i} + '%';
    }
}
  

.bg-gray {
  background:#ededed !important;
}