#byVannonFooter {
    background: $secondary-color;
}

menu {
    margin:0;
    padding-inline-start: 0;
}

#footerAdvices {
    padding-top:32px;
}

#footerArea {
    background: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    flex-direction: column;

}

#footerCopyrightArea {
    
    padding:0px; 
    color:$mainTextColor;
    margin:0px;
    background: #fff;
    margin-top: 4px;
    padding:0px !important;
    .copyright-footer {
        font-size: 0.9rem;
        font-weight: bold;
        padding:4px;
        background: #f0f0f0;
        width: 100%;
    }

}

#content-redes {
    img {

    opacity: .6;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
        transition:all 0.3s;
        margin-right:5px;
    &:hover {
        filter: grayscale(0);
    }
    }
}

#footerWidgets{

    h4 {
        font-size:1rem;
        color:$title-text-color;
    }

    a {
        color:$mainTextColor;
        font-size:0.9rem;
    }

    .bandeiras {
        img {
            width:40px;
            height: auto;
        }
    }
    
}

.newsletterFormArea {

    background-color: $darken-gray;
    color:$primary-color;
    position: relative;

    .input-field {
        padding:0px;
    }
}