@import "src/scss/placeholders";

#checkoutHeader {
    padding:32px;
    @include box-shadow-gen(rgba(100,100,100, 0.7), 2px, 0px, 3px, 0px);
    background: white;
}


.user-area-text {
    font-size:0.3em;
}

.notification-badge {
    font-size: 0.3em;
}

#mainHeader {

    padding-top:42px;
    padding-bottom:42px;
    background: white;

    @media (min-width:993px) {
        &.fixed {
            position: fixed;
            top:0;
            left: 0;
            right: 0;
            z-index:999999;
            padding-top:10px;
            padding-bottom:10px;
            @include box-shadow-gen(rgba(100,100,100, 0.7), 2px, 0px, 3px, 0px);
        }
    }

    

    .row {
        align-items: center;
    }

}

#searchBox {
    display:flex;
    align-items: baseline;

    button {
        background: transparent;
        border:none;
        color:$secondary-color;

        i {
            font-size: 1.2em;
            transition: 0.3s all;

            &:hover {
                font-size: 1.5em;
            }
        }
    }
}


.icoTopo {
    color: $secondary-color;
    margin-right: 10px;
    cursor: pointer;
}

#mainNav, #navMobile {

    a {

        padding:15px;
        padding-right: 2px;
        padding-left: 2px;            
        width: 100%;
        font-size: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        i {
            font-size: 1.5rem;
            margin-right: 5px;
        }
       
    &.nav-link:hover:not(.specialoffers), &.nav-link:active:not(.specialoffers) {
        background: rgba(0,0,0,0.1);
    }

    &.specialoffers:hover,    &.specialoffers:active {
        background: rgba(0,0,0,0.1);
        background-color: #ce221f;
    }
    }

    
}

#navMobile {
    height:100%;
    position: fixed;
    top:0px;
    left:0px;
    width:300px;
    max-width: 95%;
    z-index:999998;
    background: white;
    height:100%;
    transition: all 0.3s;
    padding:0px;
    overflow-y: auto;
    @include box-shadow-gen(rgba(100,100,100, 0.7), 2px, 0px, 3px, 0px);

    transform: translateX(0px);

    &.hide-menu {
        transform: translateX(-300px); 
    }


    #closeNavMobileBtn {
        position: absolute;
        right:0px;
        width: auto;
    }

    #icoLoginNav {

        a {
            display: flex;
            flex-direction: column;
            width:100%;

            i {
              font-size:   3.250rem;
              color: #333;
              margin-bottom: 1rem;
            }

            color:#666;
            font-size: 1rem;
        }
       
        background:white;
        border-bottom: 1px solid #f1f1f1;
    }

    a {
        text-align: left;
        justify-content: flex-start;
        padding:20px;
        padding-top:15px;
        padding-bottom:15px;
        width:100%;

    }


    .specialoffers {
        color:#fff;
    }

    .navItems {
        width:100%;

        .nav-item {
            border-bottom:1px solid #f1f1f1;
        }
    }

    ul.navbar-nav {
        
        flex-direction: column;
        width: 100%;

    }
}

#mainNav {

padding:0px;
z-index: 99999;
       a {
        color:#fff;
       }

.navItems {
    
    ul.navbar-nav {
        width:100%;
        justify-content: center;

    li {
        text-align: center;
        min-width:200px;
    }

}
}
        @include box-shadow-gen(rgba(0,0,0,0.75), 0px, 2px, 5px, -1px);        

}

#icoToggleMenuMobile {
    font-size: 2.5rem;
    cursor: pointer;
    color: $primary-color;
    @extend %grow-icon-animation;
}


#headerInteractionArea {

    position: relative;

    .wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        align-content: flex-end;
        position: relative;

        #icoLogin {

            i {
                margin-right:10px;
                font-size: 2.5rem;
            }

            font-size: 2.5rem;
            display: flex;
            align-items:center;
            max-width:120px;

            small {
                font-weight: bold;
                color:$mainTextColor;
            }
        }

        #icoCesta {
            font-size: 2.5rem;
            display:flex;

            align-items: center;
            align-content: center;

            position: relative;

            .notification-badge {
                position: relative;
                top:-10px;
            }

            .cart-price {
                font-size: 1.1rem;
                font-weight: 400;
                position: relative;
                top: 9px;
            }

            small {
                font-weight: bold;
            }
        }

        #cestaItemsBox {
            position: absolute !important;
            display: flex;
            width:430px;
            min-height:100px;
            right:0px;
            top:25px;
            z-index: 999999;
            transition: 0.3s all;
            transform: scale(0);
            transform-origin: top right;
            padding:12px;
            

            &.open {
                transform: scale(1);
            }

            .cesta-submit {
                margin-top:8px;
            }

            .cesta-footer {
                padding:18px;
            }
    
        }

        #cestaCarrinhosLista {
            max-height:180px;
            overflow-y: auto;
            overflow-x: hidden;
            margin-bottom: 16px;
            position: relative;

            .produto-remover {
                cursor: pointer;
                position: absolute;
                top:2px;
                right:0;
                font-size: 0.8em;
                color:#ccc;

                &:hover {
                    color:#666;
                }
            }
        }

      
       
    }
}



.product-description-area {
    //background:#f1f1f1;
    //padding:8px;
    width: 100%;
    margin-bottom: 8px;

    .product-description-item {
        display: flex;
        background:#fff;
        align-items: center;
        align-content: center;
        position: relative;
        padding:8px;
        margin:4px;
        img {
            width:20%;
            margin-right: 8px;
        }

        .product-description-text { 
            
            font-size: 0.9rem;
            p {
            color:#333;
            }

            &.price {
                font-size: 1.150rem;
            }
        }
    }
}