.content-wrapper {
    width:100%;
    position: relative;
    padding-top:32px;
    padding-bottom:32px;
    min-height:82vh;
}



@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse-vannon {
        display: flex !important;
        flex-basis: auto;
        transition: all 0.3s;
        transform: translatex(0);
    }
}
