.marca-carousel {
    padding:8px;
    @include box-shadow-gen($shadow-color, 5px, 0px, 5px);

    background:white;

    .slick-slide  {
        margin-right:10px;
    }

    .slick-list {
        padding: 20px;
    }

}

.slick-slider {
    position: relative;

    .nav-btn {

        cursor: pointer;
        @extend %grow-icon-animation;

    }
    
    .prev-slide {
        position: absolute;
        left:0px;
        top:30%;
    }

    .next-slide {
        position: absolute;
        right:0px;
        top:30%;
    }
}

